[submodule "themes/joway"]
	path = themes/joway
	url = https://github.com/joway/hugo-theme-yinyang.git
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
[submodule "themes/hba"]
	path = themes/hba
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
